html, body {
    height: auto;
}

.content-center {
    justify-content: center;
}

.auth-title {
    text-align: center;
}

.btn-block {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px){
    .logo-img{
        width: 400px;
        height: 250px;
    }
}

@media (max-width: 768px){
    footer{
        position: static;
        width: 100%;
    }
}
