{% extends 'base.html' %}
{% load static %}

{% block title %} {{block.super}} - Order product {% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row content-center">
            <div class="col-md-4 mt-5">
                <h2 class="auth-title">Order</h2>
                <h3>{{ product.model }}: {{ product.price }}</h3>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    <div class="btn-block">
                        <button type="submit" class="btn btn-primary auth-btn">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}