{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            id="userIcon"
            class="nav-link dropdown-toggle d-flex align-items-center"
          >
          {% if user.image %}
            <img
              src="{{user.image.url}}"
              class="md-avatar rounded-circle"
              height="50"
              alt="Avatar"
              loading="lazy"
            />
          {% else %}
            <h1>Not image</h1>
          {% endif %}
          </a>
          <ul id="profileList" class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'user_profile_url' %}">My profile</a></li>
            <li><a class="dropdown-item" href="#">Order history</a></li>
            <li><a class="dropdown-item" href="{% url 'logout_url' %}">Logout</a></li>
          </ul>
        </li>

        <script>
          var icon = document.getElementById('userIcon');
          var list = document.getElementById('profileList');
          icon.addEventListener("click", function(){
            if(list.style.display === 'none'){
              list.style.display = 'block';
            } else {
              list.style.display = 'none';
            }
          });
          icon.addEventListener('click', function(){
            if(list.style.display === 'none'){
              list.style.display = 'block';
            } else {
              list.style.display = 'none';
            }
          })
        </script>
        
      {% else %}
        <li class="nav-item">
          <a href="{% url 'login_url' %}">Login</a>
        </li>
      {% endif %}
    </ul>
    <a class="navbar-brand" href="{% url 'main_page_url' %}">
      <img
        src="{% static 'img/logo.png' %}"
        height="60"
        alt=""
        loading="lazy"
      />
    </a>
  </div>
</nav>