{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} - Login {% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row content-center">
            <div class="col-12 mt-5" style="text-align: center;">
                <img src="{% static 'img/logo.png'%}" alt="logo" class="img-fluid logo-img">
            </div>
            <div class="col-md-4 mt-5">
                <h2 class="auth-title">Login</h2>
                <form class="mb-5" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <div class="btn-block">
                        <button type="submit" class="btn btn-primary auth-btn">Login</button>
                    </div>
                </form>
                <h6 style="text-align: center;">If you are not registered, <a href="{% url 'signup_url' %}">just do it</a></h6>
            </div>
        </div>
    </div>
{% endblock %}